POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
GF_DATABASE_TYPE=postgres
GF_DATABASE_HOST=postgres
GF_DATABASE_NAME=postgres
GF_DATABASE_USER=postgres
GF_DATABASE_PASSWORD=postgres
GF_SMTP_ENABLED=false
GF_SMTP_HOST=localhost:25
GF_SMTP_USER=grafana
GF_SMTP_PASSWORD=grafana
GF_SMTP_FROM_ADDRESS=grafana@localhost
GF_SMTP_FROM_NAME=grafana
